body {
  font-family: system-ui;
  background: #232323;
  color: white;
  text-align: center;
}

// Colors

$gray: #232323;

// Fonts

$sans: 'Source Sans Pro';

// Initial Styles

*, :before, :after{ box-sizing: border-box; }
body{ background: $gray; font-family: $sans; text-align: center; }
h1{ font-weight: 200; color: rgba(white, 0.2); padding-top: 3rem; }

//Clock

body {
    background: #232323;
}

.clock {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #3c3659;
    font-size: 40px;
    font-family: Lora, sans-serif;
    letter-spacing: 7px;
   
}
